@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;300;400;500;600;700&display=swap');

.container_cart {
  width: 1300px;
  font-family: "Pretendard Variable";
  margin: 50px auto 100px;
}
.container_cart h2 {
  font-size: 40px;
  color: #112b23;
}
.container_cart h5 {
  font-size: 30px;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 5px;
  margin-bottom: 30px;
}
.container_cart > p {
  font-size: 17px;
  color: #ccc;
}
.container_cart span {
  display: block;
}
.container_cart button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.container_cart .cart_wrap {
  display: flex;
}
.container_cart .cart_list {
  width: 630px;
  background-color: #faf8f4;
  padding: 30px;
  margin-right: 40px;
}
.container_cart .cart_add {
  display: flex;
  margin-bottom: 20px;
}
.container_cart .cart_add .img_wrap {
  width: 120px;
  background: linear-gradient(226.94deg, #3d804e 10.26%, #003414 79.48%);;
}
.container_cart .cart_add .img_wrap img {
  width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  transform: translateY(-4px);
}
.container_cart .cart_add .count {
  display: flex;
}
.container_cart .cart_add .count span {
  display: flex;
  padding: 0px 20px;
}
.container_cart span.item_name {
  font-weight: 600;
}
.container_cart span.item_price {
  text-align: right;
  padding-right: 20px;
  margin: 7px 0px;
}
.container_cart .cart_add div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 133px);
  padding-left: 30px;
}
.container_cart .cart_add div:nth-child(3) button {
  width: 13px;
}
.container_cart .cart_add div:nth-child(3) button img {
  width: 100%;
}
.container_cart .cart_add div:nth-child(3) button img:hover {
  transform: scale(0.8);
  transition: all 0.3s;
}
.container_cart .cart_total {
  width: 630px;
}
.container_cart .cart_total ul:first-child {
  background-color: #faf8f4;
  padding: 30px;
}
.container_cart .cart_total ul:first-child li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  margin-bottom: 20px;
}
.container_cart .cart_total ul:first-child li:nth-child(4) {
  font-size: 12px;
  color: #999;
  font-weight: 300;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px 0px;
}
.container_cart .cart_total .total_amount {
  font-size: 20px;
}
.container_cart .cart_total ul:last-child li {
  color: #112b23;
  padding-left: 0rem;
  margin-bottom: 5px;
}
.container_cart .cart_total ul:last-child li span {
  text-align: center;
  border: 1px solid #112b23;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
}
.container_cart .cart_total ul:last-child li:nth-child(1) {
  display: flex;
  justify-content: space-between;
}
.container_cart .cart_total ul:last-child li:nth-child(1) > span {
  width: calc(50% - 2px);
}
.container_cart .cart_total ul:last-child li:nth-child(2) > span {
  background-color: #112b23;
  color: #fff;
  font-weight: 600;
}
