@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;300;400;500;600;700&display=swap');
/* 
font-family:"Pretendard Variable";
font-family: 'Nanum Myeongjo', serif; 
font-family: 'Noto Serif', serif;
*/


.logo {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 800;
  margin: 0px 50px;
  cursor: pointer;
}
.nav {
  font-family: 'Noto Serif', serif;
  font-weight: 400;
}
.nav-link {
  margin-right: 15px;
} 
.sub_nav {
  width: 1400px;
  margin: 0px auto;
  font-size: 14px;
} 
#myVideo {
  width: 100%;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.txt {
  font-family:"Pretendard Variable";
  font-size: 16px;
  text-align: center;
  color: #000;
}
.itemBox {
  position: relative;
}
.itemBox:hover .itemImg {
  transform: translateY(-5px);
  transition: all 0.3s;
}
.itemBox:hover .cartBtn {
  display: block;
}
.cartBtn {
  display: none;
  position: absolute;  
  left: 0px; right: 0px;
  width: 90px; height: 90px; line-height: 90px;
  font-family:"Pretendard Variable";
  text-align: center;
  border: none;
  border-radius: 50%;
  margin: 0 auto;
}
.cartBtn:hover {
  font-weight: 600;
  color: #fff;
  background-color: #F2BED1;
  transition: all 0.3s;
}
.swiper {
  margin-bottom: 30px;
}
.sub_container {
  height: 1000px;
}
