@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;300;400;500;600;700&display=swap');
/* 
font-family:"Pretendard Variable";
font-family: 'Nanum Myeongjo', serif; 
font-family: 'Noto Serif', serif;
*/

h1 {
  width: 1300px;
  font-family: 'Noto Serif', serif;
  padding-left: 50px;
  margin: 30px auto 30px;
 }
.logo {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 800;
  margin: 0px 50px;
  cursor: pointer;
}
.nav {
  font-family: 'Noto Serif', serif;
  font-weight: 400;
}
.nav-link {
  margin-right: 15px;
} 
.sub_nav {
  width: 1400px;
  margin: 0px auto;
  font-size: 14px;
} 
#myVideo {
  width: 100%;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.txt {
  font-family:"Pretendard Variable";
  font-size: 16px;
  text-align: center;
  color: #000;
}
.path {
  font-family: 'Noto Serif', serif;
  font-size: 14px;
  font-weight: 600;
}
.itemBox {
  position: relative;
}
.itemBox:hover .itemImg {
  transform: translateY(-5px);
  transition: all 0.3s;
}
.itemBox:hover .cartBtn {
  display: block;
}
.cartBtn {
  display: none;
  position: absolute;  
  top: 40px; right: 50px;
  width: 40px; height: 40px; line-height: 40px;
  font-family:"Pretendard Variable";
  font-size: 14px;
  text-align: center;
  border: none;
  border-radius: 50%;
}
.cartBtn:hover {
  font-weight: 600;
  color: #fff;
  background-color: #F2BED1;
  transition: all 0.3s;
}
.swiper {
  margin-bottom: 30px;
}
.sub_container {
  width: 1300px; height: 1000px;
  margin: 0px auto;
}
.new_a {
  display: block;
  width: 1300px;
  color: #000;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0px auto;
}
.new_a span {
  display: block;
  font-family:"Pretendard Variable";
  font-weight: 600;
  text-align: right;
  color: #555;
}
.new_a div {
  background-color: #F4D3D3;
  padding: 23px;
}

/*.toast-alert {
   position: fixed;
  bottom: 20px;
  left: 20px; 
  width: 250px; height: 40px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  background-color: rgba(255, 127, 80, 0.4);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 10px;
  border: 1px solid rgba(255, 127, 80, 0.1);
  padding: 5px;
}
.toast-alert p {
  margin: 0;
}*/
